.contact {
    list-style-type: none;
}

.contact .list-group-item {
    border: 0;
}

.left_bar {
    color: #030f4c;
}

.navbar-nav li,
.navbar-nav li a {
    color: white;
}

.section {
    margin-top: 20px;
}

.left_bar .list-group-item {
    border: 0;
    border-bottom: 0.3px solid #cbcbcb;
}

.list-group-item a:hover {
    text-decoration: none;
}

.card-image-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.section {
    margin-top: 150px;
    position: inherit;
}

.porfolio_li {
    font-size: 20px;
}

.p_style {
    font-family: math;
}

.hover_img {
    opacity: 0;
    /* display: none; */
}

.porfolio_li li {
    list-style-type: none;
}

.porfolio_li li a {
    color: #d06646;
}

.porfolio_li li a:hover {
    color: #805d52;
    text-decoration: none;
}
.card{
    padding-bottom: 20px;
}

.card-title a:hover .hover_img {
    opacity: 1;
    /* display: inline-block; */
}

.card-title a {
    list-style-type: none;
}

.card-title small {
    text-align: left;
}

.card-title {
    /* height: 160px; */
}

.img_thumb {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-left: 25%;
}

.card_list:first-letter {
    text-transform: capitalize !important;
}

.card_list {
    margin-left: 10px;
    text-align: left;
    display: block;
    padding: 0.5em 0;
    /* word-break: break-all; */
    overflow-wrap: break-word;
}
.keyword_list{
    margin-left: 10px;
    text-align: left;
    /* word-break: break-all; */
    overflow-wrap: break-word;
}

.col-lg-4,
.col-sm-12,
.col-md-6 {
    margin-bottom: 1rem;
}

.card_back {
    display: block;
    box-sizing: border-box;
    transform: rotateY(180deg);
    background-color: blue;
}

.card_front,
.card_back {
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden;
}

.flip_container {
    position: relative;
    perspective: 1000 !important;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    z-index: 1;
}

.flip_container:hover .card_front {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.f1_container {
    position: relative;
    width: 100%;
    /* margin: 10px auto;
    width: 450px;
    height: 281px; */
    z-index: 1;
    min-height: 500px;
}

.f1_container {
    perspective: 1000;
}

.f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.f1_container:hover .f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #88abf9c9;
}

.container {
    margin-top: 20px;
}

.bg-info {
    background-color: #2a8ed4e3 !important;
}

.portfolio_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.f1_card p {
    text-align: left;
}

.duty_pic {
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.duty_exp {
    text-align: left;
    font-size: fangsong;
}

.card_img {
    height: 280px;
    object-fit: cover;
}

.bg-success {
    background-color: #3fb388 !important;
}

.tx-left {
    text-align: left;
}

.key_word {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.card-title a {
    color: #343a3f;
}

.btn-outline-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
}

.btn-outline-primary:hover {
    color: #343a3f;
    border-color: #343a3f;
    background-color: white;
}

.section {
    margin-bottom: 50px;
}

.font_icon {
    color: #343a3f;
    margin-left: 10px;
}

.left_logo {
    text-align: right;
}

.right_info {
    text-align: left;
}

.info_list {
    display: inline-block;
    width: 100%;
}

.mg-top {
    margin-top: 20px;
}
.card-title{
    text-align: left;
    margin-left: 10px;
}
.detail_link{
    color: black;
}
.detail_link:hover{
    text-decoration: none;
}
.volunteer{
    margin-top: 20px ;
    margin-bottom: 20px;
}

@media only screen and (min-width: 767.9px) {
    .left_bar{
        max-width: 20px !important;
        padding-left: 0%;
    }
    .vertical_bar {
        width: 3px;
        display: flex;
        align-items: flex-end;
        margin-right: 10px;
        float: left;
        z-index: 99;
        margin-left: 5px;
    }

    .circle {
        float: left;
        display: flex;
        width: 15px;
        height: 15px;
        border: 1px solid black;
        border-radius: 50%;
        z-index: 100;
    }
    .left_bar .active{
        background-color: #27a884;
        border: #27a884;
    }

    .hb1 {
        height: 90%;
    }
    .hb2{
        height: 40%;
        padding-top: 40%;
    }
}

@media only screen and (max-width: 767.9px) {
    .left_bar {
        display: none;
    }
}